
body{
    position: relative;
    width: 100vw;
    height: 100vh;
}
header{
    background-color: #d9534f;
}
header a{
    color: white;
}
#findForm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
#findForm img{
    width: 30px;
    float: right;
    margin-top: -33px;
}
#findRestaurant{
    margin-top: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.navbar-toggler{
    color: white;
    background-image: url(../images/menu-Icon.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
}

.btn-primary{
    background-color: #d9534f;
}
.btn:hover{
    background-color: #5bc0de;
}