
.image {
    max-width: 100%;
    opacity: 0.9;
}

.featurelist {
    margin: auto;
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;
    width: 85%;
    
}


.featurelist a:not(:first-child) {
    margin-left: 25px;
}

.feature {
    width: auto;
}

.menuImg{
    width: 80px; 
    height: 80px;
    float: right;
}

.menu{
    max-width: 70%;
    float: left;
}

.addIcon{
    width: 30px;
    height: 30px;
    float: right;
    position: absolute;
    bottom: 15%;
    right: 15%;
}
