#bottomBtn{
    display: none;
}
#content{
    width: 84vw;
    position: relative;
}
.verticalCenter{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.bigger_screen{
    display: block;
}
.card{
    width: 12vw;
}
@media only screen and (max-width: 650px) {
    
    #bottomBtn{
        position: sticky;
        bottom: 0;
        visibility: visible;
        display: flex;
        background-color: #d9534f;
    }
    #bottomBtn button img{
        width: 25px;
        clear: both;
        align-content: center;
    }
    #content{
        width: 100%;
    }
    .card{
        width:25vw;
    }
    .bigger_screen{
        display: none;
    }
    .restaurant-profile img{
        width: 20vw;
        float: left;
        resize: none;
        height: 120px;
        margin-right: 10px;

    }
    .restaurant-profile{
        height: 150px;
    }
    #list-restaurant{
        width: 100%;
        font-size: 0.8em;
    }
    #list-restaurant h5{
        padding-right: 2px;
        width: 38vw;
        font-size: small;
    }
    .list{
        padding-top: 30vw;
    }
}