#btnRestaurant{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
}
#btnRestaurant a{
    grid-column: 2;
}
#btnRestaurant a button{
    width: 40vw;
    margin-bottom: 30px;
    background-color: cornflowerblue;
}
#name h2{
    margin-top: 5%;
    text-align: center;
}
